### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
/.idea/workspace.xml
/slides
/srcbackup/Main.java
/srcbackup/AutoSolver.java
/srcbackup/Move.java

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.labgen
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store